# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Env files
.env
.env.local
.env.*.local
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo
.turbo

# Vercel
.vercel

# Prisma generated
packages/db/src/generated

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
